
body{
	margin: 3%;
	background:#60869c88;
}
.mainDiv { 
    background-color: #4b5cba;
    padding: 10px;
    width: 500px;
    top: 30%;
    left: 30%;
    position: relative;
    border-radius: 10px;
}

.userBox { 
    background-color: lightgreen;;
    display: block;
    margin: 2px 5px 2px;
    border: 2px solid lightblue;
	max-width: 80%;
	float:right;
	clear: left;
	border-radius: 62px;
    padding: 19px;
}

.botBox { 
    background-color: antiquewhite;
    display: block;
    margin: 2px 5px 2px;
    border: 2px solid lightblue;
	max-width: 80%;
	float:left;
	clear: right;
	border-radius: 62px;
    padding: 19px;
}

.headerDiv{
	width: 100%;
    height: 25px;
    background: #a7e2ff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
    border-radius: 22px;
    border: 1px solid;
}


